#dash-appointments{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 700px;
}
#dash-appointments-calendar{
	display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-bottom: 20px;
    
}