@import 'media.scss';
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Marcellus&display=swap');

body {
	overflow: hidden !important;
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Audiowide', cursive;
	font-size: 14px;

	@include respond-above(md) {
		font-size: 20px !important;
	}
	@include respond-above(lg) {
		font-size: 40px !important;
	}
}
#slotty {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	color: #000;
	z-index: 100;
	padding:20px;
}
#slotty-rows {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex: 1 1 80%;
	color: #000;
	width: 100%;
	z-index: 100;
	overflow: hidden;
	box-sizing: border-box;
	

}
#slotty-holds {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 5px;
}
.slotty-match {
	background-color: yellow;
}
.slot,
.slot-hold, #slotty-play > div {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 100px;
	max-height: 100px;
	flex: 1 1 auto;
	margin: 2px;
	width: 100%;
	text-align: center;
	overflow-x: hidden;
	box-sizing: border-box;
	user-select: none;
	font-size: 14px;
	padding:10px;
	word-break: keep-all;
	text-transform: uppercase;
	border-radius:10px;
	margin-bottom:10px;
	background-color:rgba(0,0,0,0.04);

	@include respond-above(xs) {
		font-size: 25px !important;
	}

	@include respond-above(md) {
		font-size: 35px !important;
		min-height: 150px;
		max-height: 150px;
		border-radius:20px;
	}
	@include respond-above(lg) {
		font-size: 45px !important;
		min-height: 200px;
		max-height: 200px;
		border-radius:30px;
	}

	> img {
		min-height: 100px;
		min-width: 100px;
		max-height: 100px;
		max-width: 100px;
	}
}
.slot-hold{

}
#slotty-play {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	
}
.slot-hold,
#slotty-play > div {
	min-height: 60px;
	max-height: 60px;
	flex: 1 1 auto;
	width: 100%;
	margin:2px;
	box-sizing:border-box;
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
	user-select:none;

	&.held {
		background-color: red;
		color:#fff;
	}
	&:active{
		background-color:#000;
		color:#fff;
	}
	&[disabled]{
		pointer-events: none;
	}
}
.center {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	> div {
		min-height: 1px;
		display: none;
		width: 100%;
		background-color: #000;
	}
}

#slotty-lever {
	margin-top: 10px;
	> div {
		padding: 20px;
		background-color: orange;
		color: #fff;
	}
}
.blinker {
	animation: blink 0.5s steps(1, end) infinite;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
