#signup-wrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	
}
#signup-top{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-bottom:5px;
}
#signup-error{
	display: flex;
	flex: 1 1 auto;
	text-align: left;
	color:red;
	font-weight: bold;	
}
#signup-login{
	text-align: right;
	flex: 0 1 auto;
	cursor: pointer;
	box-sizing: border-box;
	font-weight: bold;
}

#signup-error{
	display: flex;
	flex: 1 1 auto;
	text-align: left;
	color:red;
	font-weight: bold;
	padding: 5px;
	background-color: red;
	color:#fff;
}
#signup-login{
	text-align: right;
	flex: 0 0 auto;
	cursor: pointer;
	
	box-sizing: border-box;
	padding: 5px;
	background-color: #fff;
}
#signup-login:active{
	background-color: #000;	
	color:#fff;
}
#signup-header{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color:#fff;
	padding:20px;
	font-size: 16px;
	font-weight: bold;
	flex:0 1 auto;
	background-color: #000;
	text-transform: uppercase;
}
#signup-header-logo-wrap{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	top:0px;
	left:0px;
	margin:20px;
	box-sizing: border-box;
}
#signup-header-logo{
	position: relative;
	max-width: 26px;
	height: auto;
	opacity: 0.95;
}
#signup-header-logo:hover{
	opacity: 1;	
}
#signup-header-logo:active{
	max-width: 22px;
}
#signup-header-border{
	width:100%;
	min-height: 20px;
	max-height: 20px;
	background-repeat: repeat-x;
    background-image: url('../../images/jaggy-border-20px-bottom.png');
}
#signup-content, #signup-content > form, #signup-finished > form{
	position: relative;
	display: flex;
	flex-direction: column;
	flex:1 1 auto;
	width: 100%;
	box-sizing: border-box;
	border:1px solid rgba(0,0,0,0.3);
	background-color: #fff;
}
#signup-finished{
	position: relative;
	display: flex;
	flex:1 1 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
#signup-finished-message{
	margin-bottom: 10px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.PhoneInput{
	margin:10px;
	margin-left:20px;
}
.PhoneInputInput{
	margin:0px !important;
}
.PhoneInputCountrySelectArrow{
	
}